/* font family
	============================================================================================ */
$title-font: 'Rajdhani', sans-serif;
$text-font: 'Roboto', sans-serif;


/* color variables
	============================================================================================ */
$title-color: #3a414e;
$text-color: #797979;
$black: #242429;
$magnolia: #ea7f0b17;

$primary-color: #F64B3E;


$link-color: #797979;
$white: #fff;
// $soapstone : #fff9f7;


/* google fonts
	============================================================================================ */
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');





