body
    background-color #cdcdce85
    font-size 12px
    font-family: 'Roboto', sans-serif !important

h2,h3,h4,h5,ul,body,html
    padding 0px
    margin 0px
i
    margin-right 10px

a
    color #000
.mtop16
    margin-top 20px
.wrapper
    min-height 100vh
    overflow hidden
    .col1
        float left
        position relative
        z-index 999
        width 15%
    .col2
        float left
        width 85%

.sidebar
    background-color #fbe9e8
    min-height 110vh
    .section-top
        background-color #f3f2f0
        box-shadow 0 0.5rem 1rem rgba(0,0,0, 0.15)
    .logo
        display block
        margin 0px auto
        padding-top 10px
        width 60%
    .user
        color #000
        padding 16px
        a
            color #000
            font-size 1em
    .email
        font-size 10px
        color #000
    .main
        display block
        margin-top 50px
        ul
            li
                margin-bottom 4px
                a
                    color #000 !important
                    display block
                    font-size 1.1em
                    padding 12px 15px
                    &:hover
                        background #e4e4e4
                        box-shadow 0 0.5rem 1rem rgba(0,0,0, 0.15)
                        color #FFFFFF !important
                        text-decoration none
.navbar
    background #fbe9e8
    a
        color #000 !important

.page
    padding-top 16px
    padding-bottom 16px
    .breadcrumb
        background-color #FFFFFF
        box-shadow 0 0.5rem 1rem rgba(0,0,0, 0.10) !important
        .breadcrumb-item
            a
                &:hover
                    text-decoration none !important
    .panel
        background-color #FFFFFF !important
        box-shadow 0 0.5rem 1rem rgba(0,0,0, 0.10) !important
        border-radius 6px
        border-bottom 1px solid #000
        width 100%
        .header
            border-bottom 1px solid #E8E8E8
            h2.title
                display inline-block
                color  #000
                font-size 1.1em
                padding 12px 16px
        .inside
            padding 16px
            .nav
                .nav-link
                    border-bottom 1px solid #000
                    margin-right 10px
                    &:hover
                        background #e4e4e4
                        box-shadow 0 0.5rem 1rem rgba(0,0,0, 0.15)
                        text-decoration none
.opts
    a
        display inline-block
        padding 8px
    .btn-edit
        color #545454
    .btn-delete
        color #e83a30

.btn-save
    margin-top 15px
