body
    background-color #F6F6F6
    margin 0px
    font-size 14px
.mtop16
    margin-top 16px
.mbottom16
    margin-bottom 16px
.box
    background-color #FFF
    border-radius 8px
    border 1px solid #D6D6D6
    position absolute
    width 400px
    .btn-success
        background-color #59A1C0
        border 0px
        width 100%
    .btn-signin
        background-color #98D11C
        color #FFF
        border 0px
        width 100%
    .form-control
        &:focus
        &:active
            outline none
            box-shadow none
    .inside
        padding 16px
        .inp-pass
            width 100% !important
        .aRecoverPass
            display inline-block
            font-size .8em
            color #59A1C0
            margin-left 40px
        label
            font-size .8em
            color #59A1C0
        .footer
            button
                font-size .8em
                color #59A1C0
                margin 0px auto
                background #98D11C;
    .header
        a
            img
                width 30%
                display block
                margin 0px auto
                padding 10px

.box_login
    left calc(50% - 200px)
    top calc(50% - 170px)


.box_register
    left calc(50% - 200px)
    top calc(50% - 250px)
